[submodule "pack/bundle/start/dbext.vim"]
	path = pack/bundle/start/dbext.vim
	url = https://github.com/lbrayner/dbext.vim
[submodule "pack/bundle/start/vim-obsession"]
	path = pack/bundle/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "pack/bundle/start/delimitMate"]
	path = pack/bundle/start/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "pack/bundle/start/vim-commentary"]
	path = pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/bundle/start/vim-afterglow"]
	path = pack/bundle/start/vim-afterglow
	url = https://github.com/danilo-augusto/vim-afterglow
[submodule "pack/bundle/start/vim-diminactive"]
	path = pack/bundle/start/vim-diminactive
	url = https://github.com/blueyed/vim-diminactive
